body{ background: white;margin:0 auto;max-width:1000px;font-family: 'Times New Roman', serif;}

#menu{
	margin: 0 auto;
	border-bottom: 1px solid green;
	height: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

#menu a{
	text-decoration: none;
	color: black;
}

#menu a:hover{
	border-bottom: solid black 1px;
}

.content a{
	color: green;
}

.container{
    display:flex;
    justify-content:center;
}

.resume-left{
    margin-right: 2em;
    padding: 0 2em;
    color:white;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.bottom-line{
    border-bottom: solid white 1px;
    padding-bottom: 2em;
}

#menu ul{

	padding: 0;
	float: right;
	list-style-type: none;
}

#menu ul.links{
	margin-top: 2em;
}

#menu ul.links li{
	display: inline;
	margin: 0 0 0 1.0em;
}

#menu .site-title{
	font-size: 200%;
	text-transform: uppercase;
	float: left;
	margin-top: 0.8em;

}

.content{
	margin: 2em 2em;
}

img{
    width:100%;
    margin-top:1em;
    margin-bottom:1em;
}

li{
margin-bottom: 2px;
}

h1,h2,h3,h4{
	font-weight:normal;
    color:#15717F;
}

code{
    padding: 0.5em;
    border-radius: 0.5em;
    border:  solid grey 1px;
}

blockquote{
    margin:2em 0;
    padding:1em 1.5em;
    border-left: 1px solid green;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: monospace;
  overflow-x: auto;
}

pre code{
  border: none;
}
